.container{
    width: 35%;
  margin: 50px auto;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgb(0,0,0,0.0065);
}
.Passver{
  margin-top: 12px;
 }
.Passty{
 width: 100%;
}
.emailty{
  width: 100%;
}
.continue-p{
  font-size: 15px;
  color: #b2b2b2;
  font-weight: 600;
  margin-top: 0.3rem;
  text-align: center;
}